<html lang="en">
<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/nav.ejs')%>

            <div class="about content">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis animi ipsum eveniet expedita at in
                    adipisci
                    aspernatur veniam et impedit ea sapiente, magnam dignissimos officia dolore accusamus voluptate,
                    doloremque
                    cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis animi ipsum eveniet expedita at in
                    adipisci
                    aspernatur veniam et impedit ea sapiente, magnam dignissimos officia dolore accusamus voluptate,
                    doloremque
                    cumque?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis animi ipsum eveniet expedita at in
                    adipisci
                    aspernatur veniam et impedit ea sapiente, magnam dignissimos officia dolore accusamus voluptate,
                    doloremque
                    cumque?</p>
            </div>
            <%- include('./partials/foot.ejs')%>
    </body>

</html>